node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.vscode
cache
artifacts
typechain-types
package-lock.json

outputs

*.pyc
__pycache__/
*.db
*.log
.log
ipfs/
tracker.log
oracle.log
.hydra